.header{
    background-color: rgb(218, 233, 239);
}
.navbar ul li{
    margin-left: 30px;
}
.main-part{
    background-color: rgb(33, 45, 173);
}
.main-part img{
    height: 650px;
    width: 100%;
}
.main-part .details{
    color: white;
    margin-left: 50px;
    margin-top: 100px;
}
.another-slider{
    max-width: 600px;
    max-height: 300px;
    /* background-color: rgb(145, 148, 181); */
    margin-left: 150px;
    margin-top: 40px;
}
.another-slider img{
    height: 300px;
    width: 450px;
    border-radius: 3px;
}
.services-total-container .all-cards .card-img-top{
    height: 230px;
}
.services-total-container{
    background-color: rgb(33, 45, 173);
    color: white;
}
body{
    background-color: rgb(33, 45, 173);
}
.nail-gallery .another-slider{
    /* background-color: seagreen; */
    max-width: 900px;
    margin: auto;
}
body .total-form{
    background-color: rgb(218, 233, 239);
}